############################
# PostgreSQL
############################

POSTGRES_HOST=postgres
POSTGRES_PORT=5432

POSTGRES_DB=payments_db
POSTGRES_USER=payments
POSTGRES_PASSWORD=payments

DB_POOL_SIZE=10
DB_MAX_OVERFLOW=20

############################
# RabbitMQ
############################

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

RABBITMQ_MANAGEMENT_PORT=15672

############################
# Redis
############################

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
IDEMPOTENCY_LOCK_TTL_SECONDS=30

OUTBOX_POLL_INTERVAL_SECONDS=1
OUTBOX_BATCH_SIZE=100
WEBHOOK_TIMEOUT_SECONDS=5
WEBHOOK_RETRY_ATTEMPTS=3
WEBHOOK_RETRY_BASE_DELAY_SECONDS=1
PAYMENT_PROCESSING_MIN_SECONDS=2
PAYMENT_PROCESSING_MAX_SECONDS=5
HEALTHCHECK_TIMEOUT_SECONDS=2

############################
# API
############################

APP_HOST=0.0.0.0
APP_PORT=8000
APP_WORKERS=1

API_KEY=super-secret-api-key
